html {
  background: #222222;
  color: #fff;
}

.jeder   {
  background-image: linear-gradient(#000000, transparent), url("../fotis/design1_image2.jpg");
  background-size: cover;
  margin: 0;
  height: 500px;
}
.tit {
  font-size: 2rem;
  color: #fff;
  text-shadow: 0 0 5px #000; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 5px #000;
  -webkit-text-shadow: 0 0 5px #000 ;
  display: flex;
  flex-wrap: wrap;
}
.logo {
  height: 220px;
  align-items: start;
}
.menu {
  display: flex;
  flex-direction: column;
  align-self: start;
  width: 13%;
  margin: 50px 5px;
  text-align: center;
  gap: 22px;
  height: 100%;
  float: left;
}
.menu a {
  color: #aaaaaa;
  font-size: 1rem;
  line-height: 2;
  border: solid 2px #aaaaaa;
  border-radius: 9px;
  border: dotted;
  text-decoration: none;
  
}
.menu .current {
  color: #fff;
  border: solid 2px #fff;
  border-radius: 9px;
  line-height: 2;
  font-size: 1.2rem;
}
.korper {
  display: flex;
  flex-direction: column;
  padding-left: 23px;
}
.korper > h3{
  text-decoration: underline; 
}

.tit-ban{
  height: 50px;
  border: solid 3px #fff;
  border-radius: 10px;
  border-style: dotted  dotted solid solid;
}
.fot{
  border-radius: 10px;
  transform: rotate(-4deg);
  border-style: dotted;
  width: 400px;
}

@keyframes vibrator {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(-1deg); }
  20% { transform: rotate(1deg); }
  30% { transform: rotate(0deg); }
  40% { transform: rotate(1deg); }
  50% { transform: rotate(-1deg); }
  60% { transform: rotate(0deg); }
  70% { transform: rotate(-1deg); }
  80% { transform: rotate(1deg); }
  90% { transform: rotate(0deg); }
  100% { transform: rotate(-1deg); }
}
img:hover {
  animation: vibrator 0.5s;
  animation-iteration-count: infinite;
}
.center  {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.linkis:link {
  color: turquoise;
}
.linkis:visited {
  color: turquoise;
}
table, th, td {
  border: 1px solid #fff;
  border-collapse: collapse;
}
.formix {
  display: flex;
  

}
.columneta   {
  display: flex;
  
  
  padding-left: 12px;
  float: left;
  width:50%;
  flex-direction:column;
}
.mapis{
  display:flex;
  flex-wrap: wrap;
  width: 100%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
	.jeder{
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .menu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 20%;
  
  }
  .menu a{
    line-height: 1;
    margin: 0 0;
  }
  .menu .current{
    line-height: normal;
  }
  .tit{
    font-size: 1rem;
  }
  .korper{
    width:100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    float: left;
    padding-left: 0;

  }
  .fot{
    width: 100%;
  }
  .mapis iframe {
    width: 125%;
  }
  .formis form {
    display: flex;
    flex-direction: column ;
    flex-wrap: wrap;
  }
}